
extends ../../layouts/default.pug

block main

    // genres for you
    
    div.flex.justify-between.mt-10
        h2.text-xl.font-semibold Topics for you
        a(href="") View all
    div(class="mt-4 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4")
        each item in topics
            a(href=`/genre/${item.slug}/${item._id}` class="bg-gray-800 p-2 rounded-lg")
                img(src=item.thumbnail alt=item.title class="w-full rounded-md")

block detail
    h2.text-xl.font-semibold Now Playing
    ul(class="mt-8") 
        li.flex.justify-between.items-center.mb-6
            div.flex.items-center
                div(class="w-[40px] h-[40px] mr-2 rounded-lg") 
                    img(src="./client/img/play-1.png", alt="play" class="rounded-lg w-full object-fit")
                div.block
                    div.text-sm.font-semibold Clouder
                    div.text-sm.text-gray-400 Jackson Juste
            span.text-gray-400 03:30
        li.flex.justify-between.items-center.mb-6
            div.flex.items-center
                div(class="w-[40px] h-[40px] mr-2 rounded-lg") 
                    img(src="./client/img/play-2.png", alt="play" class="rounded-lg w-full object-fit")
                div.block
                    div.text-sm.font-semibold Clouder
                    div.text-sm.text-gray-400 Jackson Juste
            span.text-gray-400 03:30
        li.flex.justify-between.items-center.mb-6
            div.flex.items-center
                div(class="w-[40px] h-[40px] mr-2 rounded-lg") 
                    img(src="./client/img/play-3.png", alt="play" class="rounded-lg w-full object-fit")
                div.block
                    div.text-sm.font-semibold Clouder
                    div.text-sm.text-gray-400 Jackson Juste
            span.text-gray-400 03:30

    .mt-auto
    .flex.items-center.justify-between
        div.flex.items-center.space-x-4
            img(src="./client/img/play-1.png" alt="Current song" class="w-10 h-10 rounded-full")
            .text-lg.font-bold Cruel - Jackson Wang
        div
            button.bg-transparent.text-white.p-2.rounded-full.play-btn
                i.fa.fa-play
            button.bg-transparent.text-white.p-2.rounded-full
                i.fa.fa-forward

