
main(class="bg-[#1f1f1f] p-4 md:p-8 flex-grow overflow-y-auto rounded-s-[20px] no-scrollbar" style="width: 70%")
    .flex.items-center.justify-between.border-b
        i.fa.fa-search.mr-2(style="color: #ffffff;")
        input(type="text" placeholder="Search" class="bg-bottom rounded-[20px] bg-[#1f1f1f] px-4 py-2 text-white flex-1 outline-none")
    block main
    
            
    